__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.git
.gitignore
.dockerignore
*.sqlite3
*.db
.vscode
.idea
*.log
db.sqlite3
.env
*.md
!README.md
staticfiles/
mediafiles/
node_modules/
.pytest_cache/
htmlcov/
.coverage
